<div class="input-group">
  
  <div (mouseover)="hoverClients=true" (mouseleave)="hoverClients=false">
    <input type="button" id="btnPrueba" class="btn btn-lg" [ngStyle]="{backgroundColor: hoverClients==true  ? selectedColor : 'white' }"
      value="Get clients" [routerLinkActive]="'active-link'" [routerLink]="['/obtener-clientes']">
  </div>

  <div (mouseover)="hoverForm=true" (mouseleave)="hoverForm=false">
    <input type="button" id="btnPrueba" class="btn btn-lg" [ngStyle]="{backgroundColor: hoverForm==true  ? selectedColor : 'white' }" value="Register form"
      [routerLinkActive]="'active-link'" [routerLink]="['/formulario-registro']">
  </div>
  <div class="text-right" style="width: 48%;">
  <h4>
    Choose your favorite color:
  </h4>
  <input type="button" id="btnPrueba" value="" style="background-color: #FE5D26" class="btn-lg"
    (click)="changeSelectedColor('#FE5D26')">
  <input type="button" id="btnPrueba" value="" style="background-color: #F2C078" class="btn-lg"
    (click)="changeSelectedColor('#F2C078')">
  <input type="button" id="btnPrueba" value="" style="background-color: #FAEDCA" class="btn-lg"
    (click)="changeSelectedColor('#FAEDCA')">
  <input type="button" id="btnPrueba" value="" style="background-color: #7EBC89" class="btn-lg"
    (click)="changeSelectedColor('#7EBC89')">
  <input type="button" id="btnPrueba" value="" style="background-color: #C1DBB3" class="btn-lg"
    (click)="changeSelectedColor('#C1DBB3')">
</div>
</div>



<div [ngStyle]="{'background-color':selectedColor == '#FE5D26' ? '#FE5D26' : 
selectedColor == '#F2C078' ? '#F2C078' : 
selectedColor == '#FAEDCA' ? '#FAEDCA' :
selectedColor == '#7EBC89' ? '#7EBC89' :
selectedColor == '#C1DBB3'? '#C1DBB3' : 'white'}">

  <router-outlet></router-outlet>
</div>