<div class="container">
  <h2>Please, enter your personal information</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="field">Identification:</label>
      <input type="number" class="form-control" id="field" placeholder="Identification" name="identification" [(ngModel)]="newPerson.identification">
    </div>
    <div class="form-group">
      <label for="field">Birthdate:</label>
      <input type="date" class="form-control" id="field" placeholder="Birthdate" name="birthdate" [(ngModel)]="newPerson.birthdate">
    </div>
    <div class="form-group">
      <label for="field">Firstname:</label>
      <input type="text" class="form-control" id="field" placeholder="Firstname" name="firstname" [(ngModel)]="newPerson.firstname">
    </div>
    <div class="form-group">
      <label for="field">Lastname:</label>
      <input type="text" class="form-control" id="field" placeholder="Lastname" name="lastname" [(ngModel)]="newPerson.lastname">
    </div>
    <button type="button" (click)="validarDatos()" class="btn btn-primary">Join us</button>
  </form>
</div>